
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
  font-family: Arial, sans-serif;
}

h2 {
  margin-bottom: 20px;
}

.table th, .table td {
  text-align: center;
}
